<app-navbar></app-navbar>
<div class="list-details">
    <ul>
        <li><span>Name:</span></li>
        <li><span>{{people.name}}</span></li>
        <li><span>Height:</span></li>
        <li><span>{{people.height}}</span></li>
        <li><span>Hair color:</span></li>
        <li><span>{{people.hair_color}}</span></li>
        <li><span>Eyes color:</span></li>
        <li><span>{{people.eye_color}}</span></li>
        <li><span>Gender:</span></li>
        <li><span>{{people.gender}}</span></li>
    </ul>
    <a  routerLink="/people" class="btnBack">Back</a>
</div>
