<app-navbar></app-navbar>
<div class="list-details">
    <ul>
        <li><span>Name:</span></li>
        <li><span>{{planet.name}}</span></li>
        <li><span>Rotation period:</span></li>
        <li><span>{{planet.rotation_period}}</span></li>
        <li><span>Orbital period:</span></li>
        <li><span>{{planet.orbital_period}}</span></li>
        <li><span>Climate:</span></li>
        <li><span>{{planet.climate}}</span></li>
        <li><span>Terrain:</span></li>
        <li><span>{{planet.terrain}}</span></li>
    </ul>
    <a  routerLink="/planets" class="btnBack">Back</a>
</div>
