<app-searchbar [search]="filterList" (searchEvent)="filterList = $event"></app-searchbar>
<app-navbar></app-navbar>
<div class="table-content">
    <table class="container">
        <thead>
            <tr>
                <th><h1>Name</h1></th>
                <th><h1>Model</h1></th>
                <th><h1>Lenght</h1></th>
                <th><h1></h1></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dummy of shipsList | filter:filterList ; let index = index" (click)="onChange(dummy)">
                <td>{{dummy.name}}</td>
                <td>{{dummy.model}}</td>
                <td>{{dummy.length | nave}}</td>
                <td><a routerLink="/starships/{{dummy.id}}">More details</a></td>
            </tr>           
        </tbody>
    </table>
</div>
